<meta http-equiv="Content-Language" content="ar">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta property="og:type" content="website">
<meta property="og:locale:alternate" content="ar_EG" />
<meta property="og:site_name" content="Amazon" />
<meta property="og:url" content="http://localhost<?=$_SERVER['REQUEST_URI']?>" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Amazon">


<link rel="apple-touch-icon" sizes="180x180" href="/design/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/design/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/design/images/favicon-16x16.png">
<link rel="manifest" href="/design/site.webmanifest">
<link rel="mask-icon" href="/design/images/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#000000">


<link rel="stylesheet" href="/design/css/global.css">